footer {
    background: rgb(200, 5, 155);
    background: linear-gradient(225deg, rgba(200, 5, 155, 0.5) 13%, rgba(240, 152, 2, 0.8654708520179373) 36%, rgba(0, 255, 248, 0.7242152466367713) 79%);
}

.footer__contenedor {
    padding-top: 2em;
}

.footer {

    &__logo {
        width: 100%;
    }

    &__imagen {
        text-align: center;
    }

    &__parrafo {
        font-size: 1rem;
        text-align: justify;
        padding: 2em;
    }

    &__titulo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 2rem;
        padding: 0.4em;
    }

    &__redes {
        width: 100%;
        text-align: center;
        padding: 0.4em;
    }

    &__ubicacion {
        width: 100%;
        padding: 1em;
    }

    &__pie-pagina {
        text-align: center;
        display: flex;
        background-color: black;
        color: white;
    }

}

@media (min-width: 600px) {

    .footer {

        &__contenedor {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 4fr 50px;
            row-gap: 10px;
            column-gap: 10px;
        }

        &__pie-pagina {
            grid-column: span 5;
            justify-content: space-around;
        }

        &__redes {
            display: flex;
            flex-direction: column;
        }

        &__logo {
            display: flex;
            align-items: center;

        }
    }

}