.nav {
    background-color: rgba(255, 99, 71, 0.932);
    margin-top: 20px;
    grid-column: span 2;
    padding: 0.75em;

    &__list {
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        list-style: none;
    }

    &__item {
        padding: 0.2em;
    }

    &__btn {
        text-decoration: none;
        padding: 0.5em;
        color: $color-btn;
        border-radius: 40px;

        &:hover {
            @extend .header__title;
            background-color: $color;
        }
    }
}

@media (min-width: 600px) {
    .nav{
        
        &__list {
            display: flex;
            justify-content: space-around;
        }
    }
}