.obras {
    font-size: 1rem;
    padding: 2em 1em;

    &__titulo {
        text-align: center;
        font-size: 2rem;
        padding: 0.2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &__contenedor {
        width: 100%;
        gap: 2em;
    }

    &__parrafo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        width: 100%;
    }

    &__video {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .obras__contenedor {
        display: flex;
    }

    .obras__titulo {
        text-align: left;
    }

}

.servicios {
    background-color: rgba(255, 228, 196, 0.568);

    &__titulo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 2rem;
        padding: 0.4em;
    }

    &__img {
        width: 100%;
        padding: 1em 1em;
        font-size: 1rem;
    }

    &__btn {
        width: 100%;
        padding: 0.3em;
        font-size: 1rem;
    }

}

@media (min-width: 600px) {
    .servicios__contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }
}