$color: rgba(255, 166, 0, 0.774);
$color-btn: brown;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin parrafo{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1em;
}